<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Новый вопрос</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/createGame.css">
</head>
<script>
    const maxQuestions = `<%= gamesInfo.game_max_questions %>`;
    const questionNumber = `<%= gamesInfo.game_questions.length + 1 %>`;
    const roomId = `<%= gamesInfo._id %>`;
</script>
<body>
<%- include('header.ejs') %>
<main>
    <div class="redaction-container">
        <form action="/create-questions/<%= gamesInfo.id %>" method="POST" enctype="multipart/form-data">
            <div class="redaction-flex">
                <div class="modal questions-modal">
                    <div class="modal__body" id="modal0">
                        <div class="input">
                            <label class="input__label">Придумайте вопрос #<%= gamesInfo.game_questions.length + 1 %></label>
                            <input class="input__field" type="text" name="question_title" placeholder="Введите вопрос" required>
                        </div>
                        <div class="input">
                            <br>
                            <label class="input__label" style="font-weight: 450">Варианты ответов</label>
                            <div style="display: flex; gap: 20px;">
                                <input class="input__field" type="text" name="question_title_question_1" placeholder="Ответ 1" required>
                                <input class="input__field" type="text" name="question_title_question_2" placeholder="Ответ 2" required>
                            </div>
                            <div style="display: flex; gap: 20px;">
                                <input class="input__field" type="text" name="question_title_question_3" placeholder="Ответ 3" required>
                                <input class="input__field" type="text" name="question_title_question_4" placeholder="Ответ 4" required>
                            </div>
                            <div class="input_container">
                                <p>Правильный ответ:</p>
                                <select name="question_title_correct_question" class="type" style="width: 100px;">
                                    <option value="question_1">1</option>
                                    <option value="question_2">2</option>
                                    <option value="question_3">3</option>
                                    <option value="question_4">4</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <div class="input">
                            <label class="input__label">Выберите изображение для вопроса</label>
                            <br>
                            <input type="file" accept="image/*" name="question_image" class="input-file">
                            <br>
                        </div>
                    </div>
                    <button type="submit" class="button button--primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="/javascripts/redaction.js"></script>
<script src="/javascripts/timer.js"></script>
</body>
</html>