<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Новости</title>
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <br>
    <br>
    <br>
    <br>
    <div class="search-container" id="searchContainer">
        <div class="search">
            <h3>Поиск статей</h3>
            <div class="search-box">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Поиск" id="searchInput">
                <span class="close-icon" id="closeIcon">✖</span>
            </div>
<!--            <button class="search-button" id="searchButton">Поиск</button>-->
<!--            <div class="search-dropdown">-->
<!--                <span class="search-icon">🐞</span>-->
<!--                <span class="search-dropdown-text">Уровень сложности</span>-->
<!--                <span class="arrow">▼</span>-->
<!--            </div>-->
            <br>
            <div class="search-info">
                <span>Ищите новости по заголовкам.</span>
            </div>
        </div>
<!--        <br>-->
<!--        <div class="search-info">-->
<!--            <span>Ищите новости по заголовкам.</span>-->
<!--        </div>-->
        <br>
        <br>
        <div class="info-card" id="infoCard">
            <div class="info-image">
                <img src="/images/info-image.jpg">
            </div>
            <div class="info-content">
                <a>
                    <span class="info-title">
                        Зачем читать игровые новости?
                    </span>
                </a>

                <p class="info-desc">
                    Новости помогают быть в курсе обновлений, багов, патчей и других важных событий в мире игры.
                    Благодаря ним вы узнаете о новых возможностях, улучшениях баланса и предстоящих ивентах.
                </p>

<!--                <a class="info-action" href="#">-->
<!--                    Узнать больше-->
<!--                    <span aria-hidden="true">-->
<!--                        →-->
<!--                    </span>-->
<!--                </a>-->
            </div>
        </div>
    </div>
    <ul class="container" id="newsList">
        <div class="search-tag-container">
            <h4>Попурярные темы</h4>
            <div style="display: flex; gap: 10px;">
                <a href="?tag=Updates" class="tag search-tag">Обновления</a>
                <a href="?tag=AboutGame" class="tag search-tag">Об игре</a>
                <a href="?tag=BugsErrors" class="tag search-tag">Баги/Ошибки</a>
                <a href="/news" class="tag search-tag">Все новости</a>
            </div>
        </div>
        <% if (allNews && allNews.length > 0) { %>
            <% allNews.forEach(news => { %>
                <% if (news.update && news.update.length > 0) { %>
                    <li class="news-container">
                        <article class="news-card">
                            <h2 class="news-title"><%= news.updateTitle %></h2>
                            <div class="news-meta">
                                <div class="news-author">
                                    <span>Автор</span>
                                    <img src="data:image/png;base64,<%= news.author.authorImage %>">
                                    <span><%= news.author.authorName %></span>
                                </div>
                                <span class="news-date">📅 <%= news.date %></span>
                                <div class="tags">
                                    <% if (news.tags && news.tags.length > 0) {%>
                                        <% news.tags.forEach(tags => { %>
                                            <div class="tag"><%= tags.tagName === 'Updates' ? 'Обновления' : tags.tagName === 'AboutGame' ? 'Об игре' : tags.tagName === 'BugsErrors' ? 'Баги/Ошибки' : 'Все новости' %></div>
                                        <% }) %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="news-image">
                                <% if (news.update[0].image) {%>
                                    <img src="data:image/png;base64,<%= news.update[0].image %>">
                                <% } %>
                            </div>
                            <p class="news-summary"><%= news.update[0].content.length > 100 ? news.update[0].content.slice(0, 100) + '...' : news.update[0].content %></p>

                            <div class="news-footer">
                                <div class="stats">
                                    <span style="font-size: 25px; font-weight: 600">&#128065;</span>
                                    <p style="margin-top: 11.5px;"><%= news.views %></p>
                                </div>
                                <form action="/viewNews/<%= news.id %>" method="POST">
                                    <button class="read-more">Читать полностью</button>
                                </form>
                            </div>
                        </article>
                    </li>
                <% } %>
            <% }) %>
        <% } else { %>
            <h3 class="not-found">Ничего не найдено.</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <% } %>
        <h3 class="not-found" id="searchNotFound">Ничего не найдено.</h3>
        <%- include('../pagination.ejs') %>
    </ul>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/news.js"></script>
</body>
</html>
