<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="<%= readNews.updateTitle %>" />
    <meta property="og:description" content="<%= readNews.update[0].content.slice(0, 150) %>" />
    <meta property="og:image" content="<%= ngrokLink %><%= readNews.update[0].image %>" />
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:site_name" content="Kahoot" />
    <meta property="og:url" content="<%= pageUrl %>" />
    <meta property="og:secure_url" content="<%= pageUrl %>">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Bolt_Heck" />
    <meta name="twitter:title" content="<%= readNews.updateTitle %>" />
    <meta name="twitter:description" content="<%= readNews.update[0].content.slice(0, 150) %>" />
    <meta name="twitter:image" content="<%= ngrokLink %><%= readNews.update[0].image %>" />

    <title>Новости | <%= readNews.updateTitle %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<script>
    const newsTitle = '<%= readNews.updateTitle %>';
</script>
<body>
<%- include('header.ejs') %>
<main class="news">
    <div class="container" style="margin-top: 40px;">
        <div class="sticky-container readNews" id="stickyHeight">
            <div class="sticky">
                <div class="sticky-box">
                    <div class="info-card" id="infoCard">
                        <div class="info-image">
                            <img src="/images/donates.png" loading="lazy">
                        </div>
                        <div class="info-content">
                            <a>
                            <span class="info-title">
                                Поддержите нас монеточкой :)
                            </span>
                            </a>

                            <p class="info-desc">
                                Ваши донаты помогают нам поддерживать проект, развивать его и делать доступным для
                                всех абсолютно бесплатно. Любая сумма — это вклад в будущее проекта и наша мотивация
                                продолжать!
                            </p>

                            <a class="info-action" href="/about-donates" target="_blank">
                                Узнать больше
                                <span aria-hidden="true">→</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="news-container writeNews">
            <article class="news-card">
                <h2 class="news-title"><%= readNews.updateTitle %></h2>
                <div class="news-meta">
                    <div class="news-author" onclick="window.open('/user-profile/<%= readNews.author.authorId %>', '_blank')">
                        <img src="<%= authorImage %>" loading="lazy">
                        <span><%= readNews.author.authorName %></span>
                    </div>
                    <div class="news-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12Z" stroke="#AFB2BF" stroke-width="1.5"/>
                            <path d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12Z" stroke="black" stroke-opacity="0.2" stroke-width="1.5"/>
                            <path d="M7 4V2.5" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M7 4V2.5" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M17 4V2.5" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M17 4V2.5" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M2.5 9H21.5" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M2.5 9H21.5" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M18 17C18 17.5523 17.5523 18 17 18C16.4477 18 16 17.5523 16 17C16 16.4477 16.4477 16 17 16C17.5523 16 18 16.4477 18 17Z" fill="#AFB2BF"/>
                            <path d="M18 17C18 17.5523 17.5523 18 17 18C16.4477 18 16 17.5523 16 17C16 16.4477 16.4477 16 17 16C17.5523 16 18 16.4477 18 17Z" fill="black" fill-opacity="0.2"/>
                            <path d="M18 13C18 13.5523 17.5523 14 17 14C16.4477 14 16 13.5523 16 13C16 12.4477 16.4477 12 17 12C17.5523 12 18 12.4477 18 13Z" fill="#AFB2BF"/>
                            <path d="M18 13C18 13.5523 17.5523 14 17 14C16.4477 14 16 13.5523 16 13C16 12.4477 16.4477 12 17 12C17.5523 12 18 12.4477 18 13Z" fill="black" fill-opacity="0.2"/>
                            <path d="M13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17Z" fill="#AFB2BF"/>
                            <path d="M13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17Z" fill="black" fill-opacity="0.2"/>
                            <path d="M13 13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13C11 12.4477 11.4477 12 12 12C12.5523 12 13 12.4477 13 13Z" fill="#AFB2BF"/>
                            <path d="M13 13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13C11 12.4477 11.4477 12 12 12C12.5523 12 13 12.4477 13 13Z" fill="black" fill-opacity="0.2"/>
                            <path d="M8 17C8 17.5523 7.55228 18 7 18C6.44772 18 6 17.5523 6 17C6 16.4477 6.44772 16 7 16C7.55228 16 8 16.4477 8 17Z" fill="#AFB2BF"/>
                            <path d="M8 17C8 17.5523 7.55228 18 7 18C6.44772 18 6 17.5523 6 17C6 16.4477 6.44772 16 7 16C7.55228 16 8 16.4477 8 17Z" fill="black" fill-opacity="0.2"/>
                            <path d="M8 13C8 13.5523 7.55228 14 7 14C6.44772 14 6 13.5523 6 13C6 12.4477 6.44772 12 7 12C7.55228 12 8 12.4477 8 13Z" fill="#AFB2BF"/>
                            <path d="M8 13C8 13.5523 7.55228 14 7 14C6.44772 14 6 13.5523 6 13C6 12.4477 6.44772 12 7 12C7.55228 12 8 12.4477 8 13Z" fill="black" fill-opacity="0.2"/>
                        </svg>
                        <span><%= readNews.date %></span>
                    </div>
                    <div class="tags">
                        <% if (readNews.tags && readNews.tags.length > 0) {%>
                            <% readNews.tags.forEach(tags => { %>
                                <a class="tag search-tag-active tag-default"><%= tags.tagName === 'Updates' ? 'Обновление' : tags.tagName === 'AboutGame' ? 'Об игре' : tags.tagName === 'BugsErrors' ? 'Баги/Ошибки' : 'Все новости' %></a>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
                <% if (readNews.update && Array.isArray(readNews.update) && readNews.update.length > 0) { %>
                    <% readNews.update.forEach(updateNews => { %>
                        <h3 class="readNews-title"><%= updateNews.title %></h3>
                        <% if (updateNews.image) { %>
                            <div class="news-image" style="margin-top: -30px;">
                                <% if (updateNews && updateNews.image) {%>
                                    <img src="<%= updateNews.image %>" loading="lazy">
                                <% } %>
                            </div>
                        <% } %>
                        <%
                            function linkify(text) {
                                const urlPattern = /(\bhttps?:\/\/[^\s<>]+[^\s<>,.?!])/gi;
                                return text.replace(urlPattern, function(url) {
                                    return `<a href="${url}" target="_blank" rel="noopener noreferrer" class="a-link">${url}</a>`;
                                });
                            }
                            const linkedMessage = linkify(updateNews.content);
                        %>
                        <p class="news-summary"><%- linkedMessage %></p>
                    <br>
                    <br>
                    <% }) %>
                <% } %>
                <div class="news-footer">
                    <div class="stats">
                        <div class="views">
                            <span>&#128065;</span>
                            <p><%= readNews.views %></p>
                        </div>
                        <div class="likes-dislikes" id="likesDislikes-<%= readNews._id %>">
                            <div id="like-<%= readNews._id %>" class="likes-dislikes-tools">
                                <% if (user && user.id) { %>
                                    <span onclick="likeNews('<%= readNews._id %>')">
                                        <% const liked = readNews.reactions.likes.find(id => id.toString() === user.id.toString()); %>
                                        <svg style="<%= liked ? `fill: #A9A9B3` : 'fill: ``' %>"
                                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up">
                                            <path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"/>
                                        </svg>
                                    </span>
                                <% } else { %>
                                    <span onclick="authMenu()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up">
                                            <path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"/>
                                        </svg>
                                    </span>
                                <% } %>
                                <div class="number">
                                    <span id="likesNumber-<%= readNews._id %>"><%= readNews.reactions.likes.length %></span>
                                </div>
                            </div>
                            <div>|</div>
                            <div id="dislike-<%= readNews._id %>" class="likes-dislikes-tools">
                                <% if (user && user.id) { %>
                                    <span onclick="dislikeNews('<%= readNews._id %>')">
                                        <% const disliked = readNews.reactions.dislikes.find(id => id.toString() === user.id.toString()); %>
                                        <svg style="<%= disliked ? `fill: #A9A9B3` : 'fill: ``' %>"
                                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-down-icon lucide-thumbs-down">
                                            <path d="M17 14V2"/><path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"/>
                                        </svg>
                                    </span>
                                <% } else { %>
                                    <span onclick="authMenu()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-down-icon lucide-thumbs-down">
                                            <path d="M17 14V2"/><path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"/>
                                        </svg>
                                    </span>
                                <% } %>
                                <div class="number">
                                    <span id="dislikesNumber-<%= readNews._id %>"><%= readNews.reactions.dislikes.length %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
<!--<div style="margin-bottom: 250px;"></div>-->
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/readNews.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
