<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kahoot | Available Chats</title>
    <link rel="stylesheet" href="/stylesheets/channels.css">
    <link rel="stylesheet" href="/stylesheets/friends.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <noscript>
        <%- include('./tools/noscript.ejs') %>
    </noscript>
</head>
<script>
    const sendId = `<%= myData.id %>`;
    const localeType = `<%= locale %>`;
    const pushNotifications = `<%= notifications %>`;
</script>
<body>
<div class="layout">
    <div class="sidebar">
        <a class="home" href="/">Go home</a>
        <div class="sidebar-header">Options</div>
        <ul class="chat-tools">
            <li>
                <a class="chat-tool friendsContainerBtn" onclick="friendsContainerFunc()">Friends</a>
                <a class="chat-tool addFriendBtn" onclick="addFriendFunc()">Add Friend</a>
            </li>
        </ul>
        <br>
        <div class="sidebar-line"></div>
        <br>
        <div class="sidebar-header">Direct Messages</div>
        <% if (myChannels && myChannels.length) { %>
            <ul class="chat-list">
                <% myChannels.forEach(channels => { %>
                    <li id="closeBtn-<%= channels.channelId %>" onmouseover="showCloseBtn('<%= channels.channelId %>')">
                        <a class="chat-link" href="/channels/@me/<%= channels.channelId %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-more-icon lucide-message-circle-more"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/><path d="M8 12h.01"/><path d="M12 12h.01"/><path d="M16 12h.01"/></svg>
                            <span class="link-companion"><%= channels.companionName %></span>
                            <span class="del-companion" onclick="deleteMyChannel('<%= channels.channelId %>')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </span>
                        </a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <a>Start a conversation</a>
        <% } %>
    </div>

    <div class="chat-container">
        <div class="chat-header">
            <div class="chat-position">
                <span class="chat-name" style="text-decoration: none; cursor: default;" id="chatName">Loading...</span>
                <span id="onlineMod"></span>
                <div class="channel-tools">
                    <div class="media-width">
                        <input hidden="" class="check-icon" id="check-icon" name="check-icon" type="checkbox" onclick="mediaMenu()">
                        <label class="icon-menu" for="check-icon">
                            <div class="bar bar--1"></div>
                            <div class="bar bar--2"></div>
                            <div class="bar bar--3"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-messages">
            <div class="friends-container" id="friendsContainerMenu">
                <div class="search-friend">
                    <input type="text" id="searchInput" placeholder="Search" autocomplete="off">
                </div>
                <div class="friends-list">
                    <svg viewBox="25 25 50 50" id="friendsLoaderSvg">
                        <circle r="20" cy="50" cx="50"></circle>
                    </svg>
                    <div id="myFriendsCount"></div>
                </div>
            </div>

            <div class="add-friend" id="addFriendMenu" hidden>
                <span>You can add friends by username.</span>
                <br><br>
                <div class="add-friend-container">
                    <input type="text" placeholder="Enter the player nickname to send a friend request" id="friendName" autocomplete="off" required>
                    <button onclick="sendFriendRequest()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="media-body" id="mediaBorder">
    <div class="media-border">

        <div class="media-scroller">

            <div class="media-tool media-b-btn">
                <p onclick="window.location.href = '/'">Go home</p>
                <div class="media-line"></div>
            </div>

            <div class="media-tool">
                <p>Options</p>
                <ul>
                    <li><a onclick="friendsContainerFunc()">Friends</a></li>
                    <li><a onclick="addFriendFunc()">Add friend</a></li>
                </ul>
                <div class="media-line"></div>
            </div>

            <div class="media-tool">
                <p>Direct Messages</p>
                <% if (myChannels && myChannels.length) { %>
                    <ul class="chat-list" style="overflow-y: auto;">
                        <% myChannels.forEach(channels => { %>
                            <li>
                                <a class="chat-link" href="/channels/@me/<%= channels.channelId %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-more-icon lucide-message-circle-more"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/><path d="M8 12h.01"/><path d="M12 12h.01"/><path d="M16 12h.01"/></svg>
                                    <span class="link-companion"><%= channels.companionName %></span>
                                    <span class="del-companion" onclick="deleteMyChannel('<%= channels.channelId %>')">x</span>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <a>Start a dialogue</a>
                <% } %>
                <div class="media-line"></div>
            </div>

            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>

<div class="toast-container" id="toast-container"></div>
<div class="new-barrier" id="barrier" hidden></div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    function checkMenusState() {
        console.log('checkMenus');
        if (menus.addFriendMenu === 'true') {
            addFriendMenuOpen();
            friendsContainerMenuClose();
        }
        else {
            addFriendMenuClose();
            friendsContainerMenuOpen();
        }
    }
    window.addEventListener('load', () => {
        setTimeout(function () {
            checkMenusState();
        }, 500);
    });
</script>
<script src="/javascripts/friends.js"></script>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/alert.js"></script>
<script src="/javascripts/channelTools.js"></script>
<script src="/javascripts/warnings.js"></script>
</body>
</html>