<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Edit Question #<%= questionInfo.question_number + 1 %></title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/createGame.css">
</head>
<script>
    const roomId = `<%= game_id %>`;
    const questionNumber = `<%= questionInfo.question_number %>`;
</script>
<body>
<%- include('header.ejs') %>
<main>
    <div>
        <form action="/edit-question/<%= game_id %>/<%= questionInfo.id %>" method="POST" enctype="multipart/form-data">
            <div class="modal questions-modal" style="left: 50%; transform: translateX(-50%)">
                <div class="modal__body" id="modal0">
                    <div class="input">
                        <label class="input__label">Question #<%= questionInfo.question_number + 1 %></label>
                        <input class="input__field" type="text" name="question_title" value="<%= questionInfo.question_title %>" placeholder="Enter your question" required>
                    </div>
                    <div class="input">
                        <br>
                        <label class="input__label" style="font-weight: 450">Answer options</label>
                        <div style="display: flex; gap: 20px;">
                            <input class="input__field" type="text" name="question_title_question_1" value="<%= questionInfo.question_1.title %>" placeholder="Answer 1" required>
                            <input class="input__field" type="text" name="question_title_question_2" value="<%= questionInfo.question_2.title %>" placeholder="Answer 2" required>
                        </div>
                        <div style="display: flex; gap: 20px;">
                            <input class="input__field" type="text" name="question_title_question_3" value="<%= questionInfo.question_3.title %>" placeholder="Answer 3" required>
                            <input class="input__field" type="text" name="question_title_question_4" value="<%= questionInfo.question_4.title %>" placeholder="Answer 4" required>
                        </div>
                        <div class="input_container">
                            <p>Correct answer:</p>
                            <select name="question_title_correct_question" class="type" style="width: 100px;">
                                <option value="question_1" <%= questionInfo.correct_question === 'question_1' ? 'Selected' : '' %> >1</option>
                                <option value="question_2" <%= questionInfo.correct_question === 'question_2' ? 'Selected' : '' %> >2</option>
                                <option value="question_3" <%= questionInfo.correct_question === 'question_3' ? 'Selected' : '' %> >3</option>
                                <option value="question_4" <%= questionInfo.correct_question === 'question_4' ? 'Selected' : '' %> >4</option>
                            </select>
                        </div>
                        <br>
                    </div>
                    <div class="input">
                        <% if (questionInfo.question_image) { %>
                            <div class="input-image">
                                <img src="<%= questionInfo.question_image %>">
                            </div>
                        <% } %>
                        <label class="input__label">Choose an image for the question</label>
                        <br>
                        <input type="file" accept="image/*" name="question_image" class="input-file">
                        <br>
                        <div class="input">
                            <div class="input_container">
                                <input type="checkbox" id="delImg" name="delImg">
                                <label for="delImg">Delete image</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button button--primary">Save</button>
            </div>
        </form>
    </div>
</main>
<script src="/javascripts/redaction.js"></script>
<script src="/javascripts/timer.js"></script>
</body>
</html>