<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | News</title>
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <br>
    <br>
    <br>
    <br>
    <div class="search-container" id="searchContainer">
        <div class="search">
            <h3>Search articles</h3>
            <div class="search-box">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Search" id="searchInput">
                <span class="close-icon" id="closeIcon">✖</span>
            </div>
            <br>
            <div class="search-info">
                <span>Search news by headlines.</span>
            </div>
        </div>
        <br>
        <br>
        <div class="info-card" id="infoCard">
            <div class="info-image">
                <img src="/images/info-image.jpg">
            </div>
            <div class="info-content">
                <a>
                    <span class="info-title">
                        Why read gaming news?
                    </span>
                </a>

                <p class="info-desc">
                    News helps you keep abreast of updates, bugs, patches and other important events in the world of the game.
                    Thanks to them, you will learn about new features, balance improvements and upcoming events.
                </p>
            </div>
        </div>
    </div>
    <ul class="container" id="newsList">
        <div class="search-tag-container">
            <h4>Popular Topics</h4>
            <a href="?tag=Updates" class="tag search-tag">Updates</a>
            <a href="?tag=AboutGame" class="tag search-tag">About the game</a>
            <a href="?tag=BugsErrors" class="tag search-tag">Bugs/Errors</a>
            <a href="/news" class="tag search-tag">All news</a>
        </div>
        <% if (allNews && allNews.length > 0) { %>
            <% allNews.reverse().forEach(news => { %>
                <% if (news.update && news.update.length > 0) { %>
                    <li class="news-container">
                        <article class="news-card">
                            <h2 class="news-title"><%= news.updateTitle %></h2>
                            <div class="news-meta">
                                <div class="news-author">
                                    <span>Author</span>
                                    <img src="data:image/png;base64,<%= news.author.authorImage %>">
                                    <span><%= news.author.authorName %></span>
                                </div>
                                <span class="news-date">📅 <%= news.date %></span>
                                <div class="tags">
                                    <% if (news.tags && news.tags.length > 0) {%>
                                        <% news.tags.forEach(tags => { %>
                                            <div class="tag"><%= tags.tagName === 'Updates' ? 'Updates' : tags.tagName === 'AboutGame' ? 'About the game' : tags.tagName === 'BugsErrors' ? 'Bugs/Errors' : 'All news' %></div>
                                        <% }) %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="news-image">
                                <% if (news.update[0].image) {%>
                                    <img src="data:image/png;base64,<%= news.update[0].image %>" alt="News">
                                <% } %>
                            </div>
                            <p class="news-summary"><%= news.update[0].content.length > 100 ? news.update[0].content.slice(0, 100) + '...' : news.update[0].content %></p>

                            <div class="news-footer">
                                <div class="stats">
                                    <span style="font-size: 25px; font-weight: 600">&#128065;</span>
                                    <p style="margin-top: 11.5px;"><%= news.views %></p>
                                </div>
                                <form action="/viewNews/<%= news.id %>" method="POST">
                                    <button class="read-more">Read more</button>
                                </form>
                            </div>
                        </article>
                    </li>
                <% } %>
            <% }) %>
        <% } else { %>
            <h3 class="not-found">Nothing found.</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <% } %>
        <h3 class="not-found" id="searchNotFound">Nothing found.</h3>
    </ul>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/news.js"></script>
</body>
</html>
