<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | News</title>
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main class="news">
    <br>
    <br>
    <br>
    <br>
    <div class="search-container searchNews" id="searchContainer">
        <div class="search">
            <h3>Search articles</h3>
            <div class="search-box">
                <div class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                        <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 22L20 20" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 22L20 20" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <input type="text" placeholder="Search" id="searchInput">
                <span class="close-icon" id="closeIcon">✖</span>
            </div>
            <br>
            <div class="search-info">
                <span>Search news by headlines.</span>
            </div>
        </div>
        <br>
        <br>
        <div class="info-card" id="infoCard">
            <div class="info-image">
                <img src="/images/info-image.jpg" loading="lazy">
            </div>
            <div class="info-content">
                <a>
                    <span class="info-title">
                        Why read gaming news?
                    </span>
                </a>

                <p class="info-desc">
                    News helps you keep abreast of updates, bugs, patches and other important events in the world of the game.
                    Thanks to them, you will learn about new features, improvements and much more.
                </p>
            </div>
        </div>
    </div>
    <ul class="container" id="newsList">
        <div class="search-tag-container">
            <h4>Popular Topics</h4>
            <div style="display: flex; gap: 10px;">
                <a href="?tag=Updates" class="tag search-tag" id="Updates">Updates</a>
                <a href="?tag=AboutGame" class="tag search-tag" id="AboutGame">About the game</a>
                <a href="?tag=BugsErrors" class="tag search-tag" id="BugsErrors">Bugs/Errors</a>
                <a href="/news" class="tag search-tag" id="AllNews">All news</a>
            </div>
        </div>
        <% if (allNews && allNews.length > 0) { %>
            <% allNews.forEach(news => { %>
                <% if (news.update && news.update.length > 0 && news.isVisibility === true) { %>
                    <li class="news-container">
                        <article class="news-card">
                            <h2 class="news-title"><%= news.updateTitle.length > 50 ? news.updateTitle.slice(0, 50) + '...' : news.updateTitle %></h2>
                            <div class="news-meta">
                                <div class="news-author" onclick="window.open('/user-profile/<%= news.author.authorId %>', '_blank')">
                                    <span>Author</span>
                                    <img src="<%= news.authorImage %>" loading="lazy">
                                    <span><%= news.author.authorName %></span>
                                </div>
                                <div class="news-date">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12Z" stroke="#AFB2BF" stroke-width="1.5"/>
                                        <path d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12Z" stroke="black" stroke-opacity="0.2" stroke-width="1.5"/>
                                        <path d="M7 4V2.5" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M7 4V2.5" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M17 4V2.5" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M17 4V2.5" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M2.5 9H21.5" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M2.5 9H21.5" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M18 17C18 17.5523 17.5523 18 17 18C16.4477 18 16 17.5523 16 17C16 16.4477 16.4477 16 17 16C17.5523 16 18 16.4477 18 17Z" fill="#AFB2BF"/>
                                        <path d="M18 17C18 17.5523 17.5523 18 17 18C16.4477 18 16 17.5523 16 17C16 16.4477 16.4477 16 17 16C17.5523 16 18 16.4477 18 17Z" fill="black" fill-opacity="0.2"/>
                                        <path d="M18 13C18 13.5523 17.5523 14 17 14C16.4477 14 16 13.5523 16 13C16 12.4477 16.4477 12 17 12C17.5523 12 18 12.4477 18 13Z" fill="#AFB2BF"/>
                                        <path d="M18 13C18 13.5523 17.5523 14 17 14C16.4477 14 16 13.5523 16 13C16 12.4477 16.4477 12 17 12C17.5523 12 18 12.4477 18 13Z" fill="black" fill-opacity="0.2"/>
                                        <path d="M13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17Z" fill="#AFB2BF"/>
                                        <path d="M13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17Z" fill="black" fill-opacity="0.2"/>
                                        <path d="M13 13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13C11 12.4477 11.4477 12 12 12C12.5523 12 13 12.4477 13 13Z" fill="#AFB2BF"/>
                                        <path d="M13 13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13C11 12.4477 11.4477 12 12 12C12.5523 12 13 12.4477 13 13Z" fill="black" fill-opacity="0.2"/>
                                        <path d="M8 17C8 17.5523 7.55228 18 7 18C6.44772 18 6 17.5523 6 17C6 16.4477 6.44772 16 7 16C7.55228 16 8 16.4477 8 17Z" fill="#AFB2BF"/>
                                        <path d="M8 17C8 17.5523 7.55228 18 7 18C6.44772 18 6 17.5523 6 17C6 16.4477 6.44772 16 7 16C7.55228 16 8 16.4477 8 17Z" fill="black" fill-opacity="0.2"/>
                                        <path d="M8 13C8 13.5523 7.55228 14 7 14C6.44772 14 6 13.5523 6 13C6 12.4477 6.44772 12 7 12C7.55228 12 8 12.4477 8 13Z" fill="#AFB2BF"/>
                                        <path d="M8 13C8 13.5523 7.55228 14 7 14C6.44772 14 6 13.5523 6 13C6 12.4477 6.44772 12 7 12C7.55228 12 8 12.4477 8 13Z" fill="black" fill-opacity="0.2"/>
                                    </svg>
                                    <span>
                                        <%= news.date %>
                                    </span>
                                </div>
                                <div class="tags">
                                    <% if (news.tags && news.tags.length > 0) {%>
                                        <% news.tags.forEach(tags => { %>
                                            <a class="tag search-tag-active"><%= tags.tagName === 'Updates' ? 'Updates' : tags.tagName === 'AboutGame' ? 'About the game' : tags.tagName === 'BugsErrors' ? 'Bugs/Errors' : 'All news' %></a>
                                        <% }) %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="news-image">
                                <% if (news.update[0] && news.update[0].image) {%>
                                    <img src="<%= news.update[0].image %>" loading="lazy">
                                <% } %>
                            </div>
                            <%
                                function linkify(text) {
                                    const urlPattern = /(\bhttps?:\/\/[^\s<>]+[^\s<>,.?!])/gi;
                                    return text.replace(urlPattern, function(url) {
                                        return `<a href="${url}" target="_blank" rel="noopener noreferrer" class="a-link">${url}</a>`;
                                    });
                                }
                                const linkedMessage = linkify(news.update[0].content.length > 100 ? news.update[0].content.slice(0, 100) + '...' : news.update[0].content);
                            %>
                            <p class="news-summary"><%- linkedMessage %></p>

                            <div class="news-footer">
                                <div class="stats">
                                    <div class="views">
                                        <span>&#128065;</span>
                                        <p><%= news.views %></p>
                                    </div>
                                    <div class="likes-dislikes" id="likesDislikes-<%= news._id %>">
                                        <div id="like-<%= news._id %>" class="likes-dislikes-tools">
                                            <% if (user && user.id) { %>
                                                <span onclick="likeNews('<%= news._id %>')">
                                                    <% const liked = news.reactions.likes.find(id => id.toString() === user.id.toString()); %>
                                                    <svg style="<%= liked ? `fill: #A9A9B3` : 'fill: ``' %>"
                                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up">
                                                        <path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"/>
                                                    </svg>
                                                </span>
                                            <% } else { %>
                                                <span onclick="authMenu()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up">
                                                        <path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"/>
                                                    </svg>
                                                </span>
                                            <% } %>
                                            <div class="number">
                                                <span id="likesNumber-<%= news._id %>"><%= news.reactions.likes.length %></span>
                                            </div>
                                        </div>
                                        <div>|</div>
                                        <div id="dislike-<%= news._id %>" class="likes-dislikes-tools">
                                            <% if (user && user.id) { %>
                                                <span onclick="dislikeNews('<%= news._id %>')">
                                                    <% const disliked = news.reactions.dislikes.find(id => id.toString() === user.id.toString()); %>
                                                    <svg style="<%= disliked ? `fill: #A9A9B3` : 'fill: ``' %>"
                                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-down-icon lucide-thumbs-down">
                                                        <path d="M17 14V2"/><path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"/>
                                                    </svg>
                                                </span>
                                            <% } else { %>
                                                <span onclick="authMenu()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-down-icon lucide-thumbs-down">
                                                        <path d="M17 14V2"/><path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"/>
                                                    </svg>
                                                </span>
                                            <% } %>
                                            <div class="number">
                                                <span id="dislikesNumber-<%= news._id %>"><%= news.reactions.dislikes.length %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form action="/viewNews/<%= news._id %>" method="POST">
                                    <button class="read-more">Read more</button>
                                </form>
                            </div>
                        </article>
                    </li>
                <% } %>
            <% }) %>
        <% } else { %>
            <h3 class="not-found">Nothing found.</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <% } %>
        <h3 class="not-found" id="searchNotFound">Nothing found.</h3>
        <%- include('../pagination.ejs') %>
    </ul>
</main>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/news.js"></script>
</body>
</html>
