<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kahoot | Settings</title>
    <link rel="stylesheet" href="/stylesheets/settings.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<script>
    const settingId = "<%= userId.id %>";
    const settingImage = "<%= userId.image %>";
    const mainImage = '<%= userId.settings.mainBackgroundImage %>';
</script>
<body>
<%- include('header.ejs') %>
<main class="settings">
    <div class="container">
        <section class="section" id="profile">
            <h2>Profile</h2>
            <div class="profile">
                <img src="<%= userId.image %>" alt="User Avatar" title="Change Avatar" onclick="editBackgroundImage('editImage', 'userImageView', 'attachFile', 'saveImageBtn', 'deleteImageBtn', 'avatarImage')" />
                <div class="profile-info">
                    <div style="display: flex; gap: 10px;">
                        <h3><%= userId.name %></h3>
                        <a href="/user-profile/<%= userId.id %>" target="_blank">My profile</a>
                        <a href="/channels/@me" target="_blank">Available chats</a>
                    </div>
                    <p><%= userId.email %></p>
                    <p>ID: <%= userId.id %></p>
                </div>
            </div>
        </section>

        <form action="/changeSettings/auth" method="POST">
            <section class="section" id="settings">
                <h2>General Settings</h2>
                <div class="setting">
                    <span>Show notifications</span>
                    <div class="toggle-container">
                        <label class="toggle">
                            <input type="checkbox" name="notifications" id="notificationsCheckbox" <%= notifications === 'on' ? 'checked' : '' %> />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="setting">
                    <span>Music</span>
                    <div class="toggle-container">
                        <label class="toggle">
                            <input type="checkbox" name="soundTrack" id="soundTrackCheckbox" <%= soundTrack === 'on' ? 'checked' : '' %> />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="setting">
                    <span>Effects in the main menu</span>
                    <div class="toggle-container">
                        <label class="toggle">
                            <input type="checkbox" name="mainEffects" id="mainEffectsCheckbox"<%= mainEffects === 'on' ? 'checked' : '' %> />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="setting">
                    <span>Dark theme</span>
                    <div class="toggle-container">
                        <label class="toggle">
                            <input type="checkbox" name="darkTheme" id="darkThemeCheckbox"<%= darkTheme === 'on' ? 'checked' : '' %> />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </section>

            <div style="text-align: center">
                <button type="submit" class="save-settings" onclick="saveSettings()">Save Changes</button>
            </div>
        </form>

        <section class="section" id="extra-settings">
            <h2>Additional Settings</h2>
            <div class="extra-settings">
                <div class="extra-setting" onclick="editBackgroundImage('editMainMenu', 'mainBackgroundView', 'backgroundFile', 'saveMainBackgroundBtn', 'deleteMainBackgroundBtn', 'backgroundImage')">
                    <h3>Main menu background</h3>
                    <p>If you wish, you can change the background of the game's main menu.</p>
                </div>

                <div class="extra-setting" onclick="editTextareaMenu('editStatusMenu', 'status', 'maxStatusLength', 'changeStatusBtn', 90, '/changeStatus', 'status')">
                    <h3>Profile Status</h3>
                    <p>Create a cool status for yourself for other players to see!</p>
                </div>

                <div class="extra-setting" onclick="editTextareaMenu('editAboutMeMenu', 'aboutMe', 'maxAboutMeLength', 'changeAboutMeBtn', 200, '/changeAboutMe', 'aboutMe')">
                    <h3>About me</h3>
                    <p>Write something about yourself. You can use links.</p>
                </div>
            </div>
        </section>

        <section class="section" id="change-password">
            <h2>Account</h2>
            <div class="extra-settings">
                <div class="extra-setting" id="changePasswordBtn">
                    <h3>Change password</h3>
                    <p>If you doubt the strength of your current password, you can change it to a new one.</p>
                </div>
                <div class="extra-setting" id="deleteAccountBtn">
                    <h3>Delete account</h3>
                    <p>Deleting your account will result in the permanent loss of all your data.</p>
                </div>
            </div>
        </section>

    </div>
</main>

<div class="edit-menus">
    <section id="editImage" hidden>
        <label>
            <img src="" class="profile-pic-edit" id="userImageView">
            <input type="file" name="file" id="attachFile" style="display: none">
        </label>
        <div class="edit-buttons">
            <input type="button" value="Save" id="saveImageBtn">
            <input type="button" value="Delete" id="deleteImageBtn">
        </div>
        <button class="close-btn">X</button>
    </section>


    <section id="editMainMenu" hidden>
        <label>
            <img src="" class="main-pic-edit" id="mainBackgroundView" title="Click to change background">
            <input type="file" name="file" id="backgroundFile" style="display: none">
        </label>
        <div class="edit-buttons">
            <input type="button" value="Save" id="saveMainBackgroundBtn">
            <input type="button" value="Reset" id="deleteMainBackgroundBtn">
        </div>
        <button class="close-btn">X</button>
    </section>

    <section id="editStatusMenu" hidden>
        <div style="display: block; margin-top: -15px;">
            <h2>Change profile status</h2>
            <textarea name="status" id="status" placeholder="Enter the desired status" maxlength="90" required><%= userId.settings.status %></textarea>
            <a id="maxStatusLength">0/90</a>
            <div class="edit-buttons">
                <input type="button" value="Change" id="changeStatusBtn">
            </div>
        </div>
        <button class="close-btn">X</button>
    </section>

    <section id="editAboutMeMenu" hidden>
        <div style="display: block; margin-top: -15px;">
            <h2>Write something about yourself</h2>
            <textarea name="aboutMe" id="aboutMe" placeholder="Enter the desired text" maxlength="200" required><%= userId.settings.aboutMe %></textarea>
            <a id="maxAboutMeLength">0/200</a>
            <div class="edit-buttons">
                <input type="button" value="Change" id="changeAboutMeBtn">
            </div>
        </div>
        <button class="close-btn">X</button>
    </section>

    <section id="changePasswordMenu" hidden>
        <div style="display: block; margin-top: -15px;">
            <h2>Change Password</h2>
            <div class="form-tools" id="changePasswordForm">
                <label for="currentPassword">Current Password</label>
                <input type="password" id="currentPassword" placeholder="Enter current password" required />

                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" placeholder="Enter new password" required />

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="Confirm new password" required />

                <button id="changePassword">Change Password</button>
                <p class="text" id="tp" onclick="togglePassword()">Show Password</p>
            </div>
        </div>
        <button class="close-btn">X</button>
    </section>

    <section id="deleteAccountMenu" hidden>
        <div style="display: block; margin-top: -15px;">
            <h2>Delete account<br/><%= userId.email %></h2>
            <span>Please enter your current password to delete your account.</span>
            <br/>
            <br/>
            <div class="form-tools" id="deleteForm">
                <label for="password">Password</label>
                <input placeholder="Enter password" name="deleteInput" id="deleteInput" type="password" class="input_field" required>
                <button id="deleteAccount">Delete account</button>
            </div>
        </div>
        <button class="close-btn">X</button>
    </section>
</div>

<div class="toast-container" id="toast-container"></div>
<div class="new-barrier" id="barrier" hidden></div>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/settings.js"></script>
</body>
</html>
