<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Profile <%= userInfo.name %></title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/user-profile.css">
</head>
<script>
    const userName = `<%= userInfo.name %>`;
    const userId = `<%= userInfo.id %>`;
</script>
<body>
<%- include('header.ejs') %>
<main>
    <div class="profile-container">

        <div class="player-banner">
            <div class="banner-info">
                <h1><%= userInfo.name %></h1>
                <% if (userInfo.settings && userInfo.settings.status && userInfo.settings.status.length) { %>
                    <p>💬 "<%= userInfo.settings.status %>"</p>
                <% } %>
            </div>
        </div>

        <div class="profile-card">
            <div class="avatar-section">
                <div class="profile-info">
                    <div class="avatar-wrapper" title="<%= userInfo.onlineMod === 'Online' ? 'Online' : 'Offline' %>">
                        <img src="<%= userInfo.image %>" alt="Avatar" class="friend-avatar">
                        <div class="status <%= userInfo.onlineMod === 'Online' ? 'online' : 'offline' %>"></div>
                    </div>
                    <div class="banner-info">
                        <div class="profile-role">
                            <h1><%= userInfo.name %></h1>
                        </div>
                        <p style="text-align: start;"><%= userInfo.role === 'Admin' ? 'Admin' : userInfo.role === 'TechSupport' ? 'Tech support' : 'Player' %></p>
                    </div>
                </div>

                <div style="text-align: start; margin-left: 22px;">
                    <span>Among the participants from</span>
                    <br/>
                    <span><%= userInfo.registerDate %></span>
                    <br/>
                    <br/>
                </div>


                <div class="profile-buttons">
                    <% if (user && user.id) { %>
                        <% if (user.id && userInfo.id !== myInfo.id) { %>
                            <button class="btn" onclick="checksChannel('<%= userInfo.id %>')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-more-icon lucide-message-square-more"><path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"/><path d="M12 11h.01"/><path d="M16 11h.01"/><path d="M8 11h.01"/></svg>
                                <span>Message</span>
                            </button>
                            <% if (myInfo.myFriends.some(friend => friend.id === userInfo.id)) { %>
                                <button class="btn" id="deleteFriend" onclick="deleteFriend('<%= userInfo.id %>')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus-icon lucide-minus"><path d="M5 12h14"/></svg>
                                    <span>Remove Friend</span>
                                </button>
                            <% } else { %>
                                <button class="btn" id="addFriend" onclick="addFriend('<%= userInfo.name %>')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                                    <span>Add Friend</span>
                                </button>
                            <% } %>
                        <% } %>
                    <% } else { %>
                            <button class="btn" onclick="authMenu()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-more-icon lucide-message-square-more"><path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"/><path d="M12 11h.01"/><path d="M16 11h.01"/><path d="M8 11h.01"/></svg>
                                <span>Message</span>
                            </button>
                            <button class="btn" id="addFriend" onclick="authMenu()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                                <span>Add Friend</span>
                            </button>
                    <% } %>
                </div>

            </div>

            <div class="info-section">
                <div class="stat-box">
                    <h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-bar-icon lucide-chart-bar"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="M7 16h8"/><path d="M7 11h12"/><path d="M7 6h3"/></svg>
                        <span>Statistics</span>
                    </h3>
                    <ul>
                        <li>Level: <strong><%= userInfo.games_info.lvl %></strong></li>
                        <li>Progress: <strong><%= userInfo.games_info.lvlUp %> / 5</strong></li>
                        <li>Wins: <strong><%= userInfo.games_info.wins %></strong></li>
                    </ul>
                </div>

                <% if (userInfo.settings.aboutMe && userInfo.settings.aboutMe.length) { %>
                    <div class="aboutMe-box">
                        <h3>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-text-icon lucide-notebook-text"><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><rect width="16" height="20" x="4" y="2" rx="2"/><path d="M9.5 8h5"/><path d="M9.5 12H16"/><path d="M9.5 16H14"/></svg>
                            <span>About me</span>
                        </h3>
                        <p>
                            <%
                                function linkify(text) {
                                    const urlPattern = /(\bhttps?:\/\/[^\s<>]+[^\s<>,.?!])/gi;
                                    return text.replace(urlPattern, function(url) {
                                        return `<a href="${url}" target="_blank" rel="noopener noreferrer" class="a-link">${url}</a>`;
                                    });
                                }
                                const linkedMessage = linkify(userInfo.settings.aboutMe);
                            %>
                            <%- linkedMessage %></p>
                        </p>
                    </div>
                <% } %>

                <div class="achievements">
                    <h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trophy-icon lucide-trophy"><path d="M10 14.66v1.626a2 2 0 0 1-.976 1.696A5 5 0 0 0 7 21.978"/><path d="M14 14.66v1.626a2 2 0 0 0 .976 1.696A5 5 0 0 1 17 21.978"/><path d="M18 9h1.5a1 1 0 0 0 0-5H18"/><path d="M4 22h16"/><path d="M6 9a6 6 0 0 0 12 0V3a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1z"/><path d="M6 9H4.5a1 1 0 0 1 0-5H6"/></svg>
                        <span>Achievements</span>
                    </h3>
                    <div class="badges">
                        <% if (userInfo.games_info.achievements && userInfo.games_info.achievements.length) { %>
                            <% userInfo.games_info.achievements.forEach(ach => { %>
                                <img src="<%= ach.aImage %>" title="<%= ach.aName === 'achievement1' ? 'Achievement: Reached level 5' : '' %>">
                            <% }) %>
                        <% } else { %>
                            <a>No achievements</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="new-barrier" id="barrier" hidden></div>
<script src="/javascripts/timer.js"></script>
<script>
    socket.on('reloadOtherPage', async () => {
        console.log('reload');
        window.location.reload();
    });
</script>
</body>
</html>
