<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Новости</title>
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<script>
    const newsTitle = '<%= writeNews.updateTitle %>';
</script>
<body>
<%- include('header.ejs') %>
<main>
    <div class="container">
        <div class="news-container writeNews">
            <article class="news-card">
                <h2 class="news-title"><%= writeNews.updateTitle %></h2>
                <div class="news-meta">
                    <div class="news-author" style="margin-left: 55px;">
                        <img src="data:image/png;base64,<%= writeNews.author.authorImage %>">
                        <span><%= writeNews.author.authorName %></span>
                    </div>
                    <span class="news-date">📅 <%= writeNews.date %></span>
                </div>
                <% if (writeNews.update && Array.isArray(writeNews.update) && writeNews.update.length > 0) { %>
                    <% writeNews.update.forEach(updateNews => { %>
                        <h3><%= updateNews.title %></h3>
                        <div class="news-image" style="margin-top: -30px;">
                            <img src="<%= updateNews.image ? 'data:image/png;base64,' + updateNews.image : 'default-image.jpg' %>" alt="Новость">
                        </div>
                        <p class="news-summary"><%= updateNews.content %></p>
                    <br>
                    <br>
                    <% }) %>
                <% } %>
                <div class="news-footer">
                    <div class="stats">
                        <span style="font-size: 25px; font-weight: 600">&#128065;</span>
                        <p style="margin-top: 11.5px;"><%= writeNews.views %></p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
</body>
</html>
