<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель | Обновления</title>
    <link rel="stylesheet" href="/stylesheets/admin/redactionNews.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<script>
    const editNews = `<%= newsInfo.mainContent.mainTitle %>`;
    const editId = `<%= newsInfo.id %>`;
    const editContent = `<%= newsInfo.content %>`;
</script>
<body>
<%- include('admin-header.ejs') %>
<main class="admin-tools">
    <div id="saveNewsForm">
        <div class="container" style="left: 60%; top: -1%;">
            <div class="modal">
                <div class="modal__header">
                    <span class="modal__title">Редактирование: <%= newsInfo.mainContent.mainTitle %></span>
                </div>
                <div class="modal__body" style="border-bottom: none;">
                    <div class="input">
                        <label class="input__label">Заголовок статьи</label>
                        <input class="input__field" type="text" id="mainTitle" placeholder="Введите желаемый текст" value="<%= newsInfo.mainContent.mainTitle %>" maxlength="100">
                    </div>
                    <br/>
                    <div class="input">
                        <label class="input__label">Краткое содержимое</label>
                        <input class="input__field" type="text" id="mainSummary" placeholder="Введите желаемый текст" value="<%= newsInfo.mainContent.mainSummary %>">
                    </div>
                    <br>
                    <div class="input">
                        <label class="input__label">Изображение заголовка</label>
                        <label class="mainImage">
                            <span>Нажмите, чтобы загрузить изображение</span>
                            <input type="file" name="file" id="mainImage" style="display: none;">
                        </label>
                        <br/>
                        <div class="input">
                            <div class="input_container" style="gap: 5px;">
                                <input type="checkbox" id="delImg">
                                <label for="delImg">Удалить изображение</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="input">
                        <div class="input_container">
                            <p>Теги:</p>
                            <div style="margin-top: 15px;">
                                <input type="checkbox" id="updatesTag" name="updatesTag" <%= newsInfo.tags.some(tag => tag.tagName === 'Updates') ? 'checked' : '' %> >
                                <label for="updatesTag">Обновление</label>

                                <input type="checkbox" id="aboutGameTag" name="aboutGameTag" <%= newsInfo.tags.some(tag => tag.tagName === 'AboutGame') ? 'checked' : '' %> >
                                <label for="newsTag">Об игре</label>

                                <input type="checkbox" id="bugsErrorsTag" name="bugsErrorsTag" <%= newsInfo.tags.some(tag => tag.tagName === 'BugsErrors') ? 'checked' : '' %> >
                                <label for="errorsTag">Баги/Ошибки</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; gap: 20px;">
                        <div class="input">
                            <div class="input_container">
                                <div style="margin-top: 15px;">
                                    <input type="checkbox" id="updateDate" name="updateDate">
                                    <label for="updateDate">Обновить дату</label>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <div class="input_container">
                                <div style="margin-top: 15px;">
                                    <input type="checkbox" id="isVisibility" name="isVisibility" <%= newsInfo.isVisibility === false ? 'checked' : '' %> >
                                    <label for="isVisibility">Скрыть новость</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div style="display: flex">
                    <div class="modal__footer">
                        <button class="button button--primary" onclick="saveNewsFunc()">Сохранить</button>
                    </div>
                    <div class="modal__footer">
                        <a class="button button--primary" href="/admin/list-news" style="text-decoration: none;">Все новости</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="questions-modal">
            <div id="editor"
                 contenteditable="true"
                 spellcheck="false"
                 autocorrect="off"
                 autocapitalize="off"
                 writingsuggestions="false"
                 translate="no"
                 style="border: 1px solid #ccc; padding: 10px; overflow-y: auto;"
            ></div>
            <br/>
            <div class="save-img">
                <label>
                    <span>Нажмите, чтобы загрузить изображение</span>
                    <input type="file" name="file" id="inputFile" style="display: none;">
                </label>
            </div>
            <br/>
            <br/>
            <div>
                <span class="code-text">Используйте <span class="code-inline">---</span> что-бы сделать линию.</span>
            </div>
        </div>

    </div>
</main>
<script src="/javascripts/admin/redactionNews.js"></script>
</body>
</html>