<!DOCTYPE html>
<html lang="en" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const darkTheme = `<%= darkTheme %>`;
        if (darkTheme === 'on') {
            document.documentElement.classList.add('darkTheme');
        } else {
            document.documentElement.classList.remove('darkTheme');
        }
    </script>
    <link rel="stylesheet" href="/stylesheets/admin/admin-header.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <title>Admin panel</title>
    <noscript>
        <style>
            body{
                overflow: hidden;
            }
        </style>
        <div class="header-barrier"></div>
        <div class="header-border">
            <h1>JavaScript is disabled!</h1>
            <p>To ensure the website works properly, please enable JavaScript in your browser settings. Here’s how to do it:</p>
            <ul style="text-align: left; display: inline-block;">
                <li><strong>Google Chrome:</strong> Open Settings → Privacy and security → Site Settings → JavaScript → Enable.</li>
                <li><strong>Mozilla Firefox:</strong> Type <code>about:config</code> in the address bar → Find <code>javascript.enabled</code> → Set it to <code>true</code>.</li>
                <li><strong>Safari:</strong> Open Settings → Security → Enable JavaScript.</li>
                <li><strong>Microsoft Edge:</strong> Go to Settings → Cookies and site permissions → JavaScript → Enable.</li>
                <li style="text-align: center;"><a href="/">Refresh the page</a> after enabling JavaScript.</li>
            </ul>
            <p style="margin-top: -10px;">If the issue persists, please contact <a href="mailto:hffreelancers@gmail.com">support</a>.</p>
            <br>
        </div>
    </noscript>
</head>
<script>
    const localeType = '<%= locale %>';
    const sendId = `<%= user.id %>`;
</script>
<body>
<header class="header">
    <a href="/" class="container-logo">
        <img src="/images/icon.png">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="Layer_1" x="0px" y="0px" viewBox="0 0 440 150" enable-background="new 0 0 440 150" xml:space="preserve">
            <g>
                <path d="M226.8,52.5c-18.7,0.3-34.8,16.1-36,35.1c-1.1,19.1,14.1,36.1,33.9,38.1c19.9,2,36-13.8,36-35.1   C260.7,69.2,245.5,52.2,226.8,52.5z M240.2,92c-0.8,9.9-7,15.3-11.1,15.7c-10.3,1.2-19.1-8.1-18.5-20s5.4-19.3,15.1-19.5   C235.4,68,241.3,79.1,240.2,92z"/>
                <path d="M300.3,54.4c-18.7-0.3-33.9,16.7-33.9,38.1s16.1,37.1,36,35.1c19.9-2,35.1-19,33.9-38.1   C335.2,70.5,319.1,54.8,300.3,54.4z M298,109.7c-4.1-0.5-10.2-5.9-11.1-15.7c-1.1-12.9,4.8-24,14.5-23.8s14.5,7.6,15.1,19.5   C317.1,101.5,308.3,110.9,298,109.7z"/>
                <polygon points="82.5,36.6 62.4,28.9 23.2,66.3 23.2,19.6 0,25.5 0,135.2 23.2,136 23,97.6 37.3,83.8 52.4,136    72.9,136 54,67.9  "/>
                <path d="M146.2,49.2L145.8,0L126,5.2l3.2,121.6l19.5,0.7l-1.1-62.8c4.3-1.9,18.4-5.8,18.9,9.7l1.9,22.1l1.3,31.1   h20.4l-7.7-53.7C179.3,42.5,167.8,42.4,146.2,49.2z"/>
                <polygon points="415.2,128.2 409.5,141.6 421.7,150 433.7,142.9 428.6,128.2  "/>
                <path d="M363.4,19.6l-15.5-6.4v32.1l-17.3-0.6l3.3,22.8h14l1,54.3c0,0-2.2,19.5,27.6,15.1c0,0,9.3-2.8,9-9.3v-21.4   c0,0-6.3,3.7-13.1,3.7c-6.8,0-6.9-3.3-6.9-3.3l-1.8-42l21.7-1.2V49.5L363.1,48L363.4,19.6z"/>
                <polygon points="440,19.8 399,12 424.2,120.5  "/>
                <path d="M77.6,49.9L83,64.1c13.5-8.1,21.1,0,21.1,0l-0.1,9.1c-40.2,7.1-30,44.3-30,44.3   c4.1,14.6,17.3,14.1,17.3,14.1h30.1l0.6-67.7C117.3,32.4,77.6,49.9,77.6,49.9z M104,118.6c0,0-14.6,3.5-16.2-10.7   c0,0,0.3-22,16.7-19.6L104,118.6z"/>
            </g>
        </svg>
    </a>

    <div class="header-container">

        <div id="adminHeader">
            <div class="dropdown">
                <p class="ha dropdown-title">Admin panel<span>❯</span></p>
                <div class="dropdown-content" style="width: 150px;">
                    <a href="/admin/user-contacts">Contact list</a>
                    <a href="/admin/list-users">list of players</a>
                    <a href="/admin/list-news">News list</a>
                    <a href="/admin/list-reviews">Reviews list</a>
                    <a href="/admin/post-news">Post an article</a>
                </div>
            </div>
        </div>

    </div>

    <div class="account-container">

        <% if (user && user.name) { %>
            <div class="dropdown">
                <p class="ha dropdown-title"><%= user.name.length > 4 ? user.name.slice(0, 4) + '...' : user.name %><span>❯</span></p>
                <div class="dropdown-content">
                    <a onclick="logout();">Sign out</a>
                </div>
            </div>
        <% } %>
        <br>
        <div class="dropdown">
            <p class="ha dropdown-title">English<span>❯</span></p>
            <div class="dropdown-content" style="width: 80px;">
                <a onclick="changeLocaleRu();">Русский</a>
            </div>
        </div>

        <div class="media-width" onclick="mediaMenu()">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-justify-icon lucide-align-justify"><path d="M3 12h18"/><path d="M3 18h18"/><path d="M3 6h18"/></svg>
            </span>
        </div>

    </div>

</header>

<div class="media-body" id="mediaBorder">

    <div class="media-border">
        <div class="media-header">
            <a href="/">Kahoot</a>
            <button id="closeMediaBorder">X</button>
        </div>

        <div class="media-scroller">
            <div class="media-dropdowns">
                <div>
                    <div class="dropdown">
                        <p class="ha dropdown-title">Admin panel<span>❯</span></p>
                        <div class="dropdown-content" style="width: 150px;">
                            <a href="/admin/user-contacts">Contact list</a>
                            <a href="/admin/list-users">list of players</a>
                            <a href="/admin/list-news">News list</a>
                            <a href="/admin/post-news">Post an article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<%- include('../../back.ejs') %>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/token.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/admin/adminHeader.js"></script>
<script src="/javascripts/locale.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>