<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel | Reviews list</title>
    <link rel="stylesheet" href="/stylesheets/reviews.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <style>
        .deleteButton {
            color: red;
            cursor: pointer;
        }
        .deleteReviewMenu{
            width: 350px;
            height: 180px;
            background-color: #212529;
            border-radius: 10px;
            z-index: 2;
            opacity: 1;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .barrier{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            opacity: 0.6;
            z-index: 1;
        }
        .no-btn {
            background: none;
            color: white;
            border: none;
            padding: 10px 20px;
            width: 80px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
        }
        .yes-btn{
            background: none;
            color: #90e0ef;
            border: none;
            padding: 10px 20px;
            width: 80px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
        }
        .no-btn:hover{
            background-color: #6c757d;
        }
        .yes-btn:hover{
            background-color: #118ab2;
        }
        .yes-or-no{
            display: flex;
            gap: 10px;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<%- include('admin-header.ejs') %>
<main class="reviews">
    <div class="container">
        <ul class="reviews-list" id="reviewsList">
            <div class="reviews-info">
                <h1>Players' Reviews</h1>
            </div>
            <div class="reviews-tool">
                <div class="review-tool" style="margin-left: auto;">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 13.5997 2.37562 15.1116 3.04346 16.4525C3.22094 16.8088 3.28001 17.2161 3.17712 17.6006L2.58151 19.8267C2.32295 20.793 3.20701 21.677 4.17335 21.4185L6.39939 20.8229C6.78393 20.72 7.19121 20.7791 7.54753 20.9565C8.88837 21.6244 10.4003 22 12 22ZM8 13.25C7.58579 13.25 7.25 13.5858 7.25 14C7.25 14.4142 7.58579 14.75 8 14.75H13.5C13.9142 14.75 14.25 14.4142 14.25 14C14.25 13.5858 13.9142 13.25 13.5 13.25H8ZM7.25 10.5C7.25 10.0858 7.58579 9.75 8 9.75H16C16.4142 9.75 16.75 10.0858 16.75 10.5C16.75 10.9142 16.4142 11.25 16 11.25H8C7.58579 11.25 7.25 10.9142 7.25 10.5Z" fill="rgba(132, 116, 254, 1)"/>
                        </svg>
                    </div>
                    <span>Reviews: <span class="tool-count"><%= allReviews.length || 0 %></span></span>
                </div>

                <div class="search-container" id="searchContainer">
                    <div class="search">
                        <h3>Search Users</h3>
                        <div class="search-box">
                            <div class="search-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                    <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M22 22L20 20" stroke="#AFB2BF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M22 22L20 20" stroke="black" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <input type="text" placeholder="Поиск" id="searchInput">
                            <span class="clear-icon" id="clearIcon">✖</span>
                        </div>
                        <br>
                        <div class="search-info">
                            <span>Search reviews by username.</span>
                        </div>
                    </div>
                </div>
            </div>
            <% if (allReviews && allReviews.length > 0) { %>
                <% allReviews.forEach(reviews => { %>
                    <li class="review-card">
                        <div class="review-header">
                            <div class="review-user">
                                <div class="avatar" onclick="window.open('/user-profile/<%= reviews.id %>', '_blank')" title="Посмотреть профиль">
                                    <img src="<%= reviews.image %>">
                                </div>
                                <div class="user-info">
                                    <span class="user-name"><%= reviews.name %></span>
                                    <span class="review-date">
                                        <%= (() => {
                                            const d = new Date(reviews.date);
                                            const now = new Date();

                                            const isSameDay = (d1, d2) =>
                                                    d1.getDate() === d2.getDate() &&
                                                    d1.getMonth() === d2.getMonth() &&
                                                    d1.getFullYear() === d2.getFullYear();

                                            const yesterday = new Date(now);
                                            yesterday.setDate(now.getDate() - 1);

                                            if (isSameDay(d, now)) {
                                                return 'Today, ' + d.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit', hour12: false});
                                            } else if (isSameDay(d, yesterday)) {
                                                return 'Yesterday, ' + d.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit', hour12: false});
                                            } else {
                                                return d.toLocaleString('ru-RU', {
                                                    day: '2-digit',
                                                    month: 'long',
                                                    year: 'numeric'
                                                });
                                            }
                                        })() %>
                                    </span>
                                </div>
                            </div>
                            <div class="review-rating">
                                <%
                                    function setGrate(grade) {
                                        let start = '';
                                        for (let i = 0; i < grade; i++) {
                                            start += '★';
                                        }
                                        return start;
                                    }
                                    const grade = setGrate(reviews.grade);
                                %>
                                <%= grade %>
                            </div>
                        </div>
                        <p class="review-text">
                            <%= reviews.review %>
                        </p>
                        <a class="deleteButton" data-id="<%= reviews.id %>">Delete</a>

                        <div id="deleteMenu-<%= reviews.id %>" class="deleteReviewMenu" hidden>
                            <p style="text-align: center; color: white; margin: 30px 0; padding: 10px; word-break: break-word">Remove "<%= reviews.name %>" review?</p>
                            <div class="yes-or-no">
                                <button class="no-btn" id="closeBtn-<%= reviews.id %>">No</button>
                                <form action="/admin/delete-review/<%= reviews.id %>" method="POST">
                                    <button class="yes-btn">Yes</button>
                                </form>
                            </div>
                        </div>
                    </li>
                <% }) %>
            <% } else { %>
                <h3 class="not-found">Ничего не найдено.</h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <% } %>
            <h3 class="not-found" id="searchNotFound">Ничего не найдено.</h3>
        </ul>

    </div>
</main>

<div class="barrier" id="barrier" hidden></div>
<script>
    document.getElementById('searchInput').addEventListener('input', function() {
        const searchValue = this.value.trim().toLowerCase();
        const reviewsList = document.getElementById('reviewsList');
        const searchNotFound = document.getElementById('searchNotFound');
        const searchReview = reviewsList.getElementsByTagName('li');

        let foundVisible = false;

        Array.from(searchReview).forEach(review => {
            const reviewNameElement = review.querySelector('.user-name');

            const reviewName = reviewNameElement ? reviewNameElement.textContent.toLowerCase() : '';

            if (reviewName.includes(searchValue)) {
                showReview(review);
            }
            else {
                hideReview(review);
            }

            if (foundVisible) {
                searchNotFound.style.display = 'none';
            } else {
                searchNotFound.style.display = 'block';
            }

            function showReview () {
                foundVisible = true;
                review.style.display = 'block';
            }

            function hideReview () {
                review.style.display = 'none';
            }

            document.getElementById('clearIcon').addEventListener('click', () => {
                document.getElementById('searchInput').value = '';
                showReview();
            });

        });
    });


    const deleteButton = document.querySelectorAll('.deleteButton');

    deleteButton.forEach(button => {
        button.addEventListener('click', function () {
            const dataId = this.getAttribute('data-id');
            console.log('dataId', dataId)
            const deleteMenu = document.getElementById('deleteMenu-' + dataId);
            const closeBtn = document.getElementById('closeBtn-' + dataId);
            const barrier = document.querySelector('.barrier');
            deleteMenu.hidden = false;
            barrier.hidden = false;
            closeBtn.addEventListener('click', () => {
                deleteMenu.hidden = true;
                barrier.hidden = true;
            })
        })
    })
</script>
</body>
</html>
