<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel | User contacts</title>
    <link rel="stylesheet"  href="/stylesheets/admin/user-contacts.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('admin-header.ejs') %>
<main class="admin-tools">
    <div class="contacts-container">
        <% if (userContacts && userContacts.length > 0) { %>
            <% userContacts.forEach(contacts => { %>
                <article class="card">
                    <div class="date">
                        <span><%= contacts.date %></span>
                    </div>

                    <div class="quote">
                        <p><%= contacts.email %></p>
                        <p><%= contacts.name %></p>
                    </div>

                    <div>
                        <p class="data">
                            <a>- <%= contacts.message %></a>
                        </p>
                    </div>
                </article>
            <% }) %>
        <% } else { %>
            <div class="not-found">
                <p>Ничего не найдено.</p>
            </div>
        <% } %>
    </div>
</main>
<script src="/javascripts/timer.js"></script>
</body>
</html>
